# basic
SYSTEM_NAME="idpGateway"
PORT=3200
NODE_ENV="development"
MODE="development"
# MODE="production"

# urls
SERVER_URL="http://localhost:3200"
CLIENT_URL="http://localhost:3000" #TODO
# SERVER_URL=""

# jwt
JWT_SECRET=
JWT_REFRESH_SECRET=